#button {
  color: white;
}

#button:focus {
  box-shadow: none;
}

#button:hover {
  background-color: white;
  color: #274c2d;
}

#logo {
  font-size: 32px;
}

#bd-navbar {
  position: sticky;
  background-color: #274c2d;
  top: 0;
  z-index: 1000;
}

#quantity {
  width: 75px;
  text-align: center;
}

.sb-item {
  margin-right: 15px;
}

.hd {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.hdul {
  padding-top: 30px;
}

.hd:last-of-type {
  padding-bottom: 0;
}

.list-group-item > a {
  color: #41774a;
  text-decoration: none;
}

.list-group-item > a:hover {
  color: #dbe0dc;
  background: #41774a;
  width: 100vh;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sb {
  background-color: #dbe0dc;
  color: #41774a;
  padding: 0.2rem 1.25rem;
  border: none;
}

.card {
  margin-bottom: 1rem;
}

.modal {
  z-index: 1072;
}

.add {
  padding-right: 5px;
}

.proof {
  line-height: 2.3rem;
}

.card, .sci {
  background-color: #def7e2;
  border: 1px solid #4d7053;
}

.product-name {
  color: #23ce3f;
}

.sc-title {
  color: #055e14;
}

.form-control:focus {
  border-color: #1efc43;
  box-shadow: 0 0 0 0.2rem rgba(35, 209, 64, 0.25)
}

.no-available {
  color: red;
  font-weight: bold;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: transparent;
  background-color: transparent;
  border-color: rgb(71, 124, 80);
}

button:focus {
  outline: 1px solid #c2d3c5;
}

input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label {
  cursor: pointer;
}

input[type=radio] + label:hover {
  color: #dbe0dc;
  background: #41774a;
}

input[type=radio] + label:before {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  content: ' ';
  display: inline-block;
  vertical-align: baseline;
  border: 0.5px solid #477c50;
  border-radius: 50%;
  transition: 0.4s
}

input[type=radio]:checked + label:before {
  box-shadow: 0 0 0 0.2rem rgba(71, 124, 80, 0.5), inset 0 0 0 4px rgb(71, 124, 80);
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 74px;
    left: 0;
    z-index: 100;
    height: calc(100vh - 74px);
    background: #dbe0dc;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {

  .sb-links {
    margin-right: -15px;
    margin-left: -15px;
  }

  .hdul {
    padding-top: 0;
  }

  .navbar-nav {
    align-items: start !important;
    justify-content: space-between;
  }
  
  .mbr {
    padding-bottom: 5px;
  }
}